<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>SubContractors List for Bid: <span th:text="${bid.contractName}">Contract Name</span></h1>


<a th:href="@{/admin/bids/{bidId}/subcontractors/create(bidId=${bid.id})}" class="btn btn-primary">Create New SubContractor</a><a th:href="@{/admin/bids/{bidId}/view(bidId=${bid.id})}" class="btn btn-secondary"><< Back to <span th:text="${bid.contractName}"></span> Bid</a>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>SubContractor</th>
        <th>MPID Number</th>
        <th>Document ID</th>
        <th>View Document</th>
<!--        <th>Document URL</th>-->
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subContractor : ${subContractorListings}">
        <td th:text="${subContractor.subContractorCompanyName}">SubContractor</td>
        <td th:text="${subContractor.bids.mpidNumber}">MPID Number</td>
        <td th:text="${subContractor.subContractorDocumentId ?: 'N/A'}">Document ID</td>
        <td>
            <a th:if="${subContractor.subContractorDocument != null}"
               th:href="@{/admin/bids/{bidId}/subcontractors/download/{id}(bidId=${bid.id}, id=${subContractor.id})}"
               class="btn btn-success" target="_blank">View Document</a>
            <span th:if="${subContractor.subContractorDocument == null}">N/A</span>
        </td>
<!--        <td th:text="${subContractor.bids.mpidNumber + '-' + subContractor.subContractorCompanyName}">Document URL</td>-->
        <td>
            <a th:href="@{/admin/bids/{bidId}/subcontractors/edit/{id}(bidId=${bid.id}, id=${subContractor.id})}" class="btn btn-info">Edit</a>
            <a th:href="@{/admin/bids/{bidId}/subcontractors/delete/{id}(bidId=${bid.id}, id=${subContractor.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/bids/{bidId}(bidId=${bid.id})}" class="btn btn-secondary mb-3"><< Back to <span th:text="${bid.contractName}"></span> Bid</a>

<footer th:insert="~{admin/fragments/footer}"></footer>