<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Create Bid</h1>
<form th:action="@{/admin/bids/create}" th:object="${bid}" method="post" class="form">

    <div class="form-group">
    <label class="form-label">Contract Name:</label>
        <input type="text" th:field="*{contractName}" class="form-control"/>
    </div>

    <div class="form-group">
    <label class="form-label">Advertisement For Bids:</label>
        <input type="text" th:field="*{advertisementForBids}" class="form-control"/>
    </div>

    <div class="form-group">
    <label class="form-label">MPID Number:</label>
        <input type="text" th:field="*{mpidNumber}" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Document URL:</label>
        <input type="text" th:field="*{documentUrl}" class="form-control"/>
    </div>

    <div class="form-group">
    <label class="form-label">Pre-Bid Sign-In Sheet:</label>
        <input type="text" th:field="*{preBidSignInSheet}" class="form-control"/>
    </div>

    <div class="form-group">
    <label class="form-label">Bid Tabulation Sheet:</label>
        <input type="text" th:field="*{bidTabulationSheet}" class="form-control"/>
    </div>

    <div class="form-group">
        <label class="form-label">Active:</label>
        <input type="checkbox" th:field="*{active}" class="form-check"/>
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<footer th:insert="~{admin/fragments/footer}"></footer>