<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Bids List</h1>
<a th:href="@{/admin/bids/create}" class="btn btn-primary">Create New Bid</a>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>Bid Name</th>
        <th>Advertisement For Bids</th>
        <th>Pre Bid Sign In Sheet</th>
        <th>Bid Tabulation Sheet</th>
        <th>SubContractors</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bid : ${bidsList}">
        <td th:text="${bid.contractName}">Contract Name</td>
        <td>
            <a th:if="${bid.advertisementForBids != null and !#arrays.isEmpty(bid.advertisementForBids)}"
               th:href="@{/admin/bids/download/{id}(id=${bid.id})}"
               class="btn btn-success" target="_blank">View Document</a>
            <span th:if="${bid.advertisementForBids == null}">N/A</span>

        </td>
        <td>
            <a th:if="${bid.preBidSignInSheet != null and !#arrays.isEmpty(bid.preBidSignInSheet)}"
               th:href="@{/admin/bids/download/preBid/{id}(id=${bid.id})}"
               class="btn btn-success" target="_blank">View Document</a>
            <span th:if="${bid.preBidSignInSheet == null}">N/A</span>

        </td>
        <td>
            <a th:if="${bid.bidTabulationSheet != null and !#arrays.isEmpty(bid.bidTabulationSheet)}"
               th:href="@{/admin/bids/download/bidTab/{id}(id=${bid.id})}"
               class="btn btn-success" target="_blank">View Document</a>
            <span th:if="${bid.bidTabulationSheet == null}">N/A</span>

        </td>
        <td>
            <a th:href="@{/admin/bids/{id}/subcontractors(id=${bid.id})}" class="btn btn-info">SubContractors</a>
        </td>
        <td>
            <a th:href="@{/admin/bids/{bidId}/view(bidId=${bid.id})}" class="btn btn-info">View</a>
            <a th:href="@{/admin/bids/edit/{id}(id=${bid.id})}" class="btn btn-warning">Edit</a>
            <a th:href="@{/admin/bids/delete/{id}(id=${bid.id})}" class="btn btn-danger">Delete</a>
        </td>

    </tr>
    </tbody>
</table>
<footer th:insert="~{admin/fragments/footer}"></footer>