<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Bids List</h1>
<a th:href="@{/admin/bids/create}" class="btn btn-primary">Create New Bid</a>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>ID</th>
        <th>Contract Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bid : ${bidsList}">
        <td th:text="${bid.id}">1</td>
        <td th:text="${bid.contractName}">Contract Name</td>
        <td>
            <a th:href="@{/admin/bids/edit/{id}(id=${bid.id})}" class="btn btn-warning">Edit</a>
            <a th:href="@{/admin/bids/delete/{id}(id=${bid.id})}" class="btn btn-danger">Delete</a>
            <a th:href="@{/admin/bids/{id}/subcontractors(id=${bid.id})}" class="btn btn-info">SubContractors</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:insert="~{admin/fragments/footer}"></footer>
