<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Bid Details: <span th:text="${bid.contractName}">Contract Name</span></h1>

<div class="mb-5 mt-5">
    <h3>Bid Information</h3>
    <p><strong>Active:</strong> <span th:text="${bid.active ? 'Yes' : 'No'}">Active</span></p>

    <p><strong>MPID Number:</strong> <span th:text="${bid.mpidNumber}">MPID Number</span></p>
    <p><strong>Advertisement For Bids URL:</strong> <a
            th:if="${bid.advertisementForBids != null and !#arrays.isEmpty(bid.advertisementForBids)}"
            th:href="@{/admin/bids/download/{id}(id=${bid.id})}"
            class="btn btn-success" target="_blank">View Document</a></p>

    <p><strong>Pre-Bid Sign-In Sheet URL:</strong> <a
            th:if="${bid.preBidSignInSheet != null and !#arrays.isEmpty(bid.preBidSignInSheet)}"
            th:href="@{/admin/bids/download/preBid/{id}(id=${bid.id})}"
            class="btn btn-success" target="_blank">View Document</a></p>
    <p><strong>Bid Tabulation Sheet URL:</strong> <a
            th:if="${bid.bidTabulationSheet != null and !#arrays.isEmpty(bid.bidTabulationSheet)}"
            th:href="@{/admin/bids/download/bidTab/{id}(id=${bid.id})}"
            class="btn btn-success" target="_blank">View Document</a></p>
</div>

<hr>

<div>
    <h3>SubContractors</h3>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>SubContractor</th>
            <th>Document ID</th>
            <th>Document URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subContractor : ${subContractors}">
            <td th:text="${subContractor.subContractorCompanyName}">SubContractor</td>
            <td th:text="${subContractor.subContractorDocumentId ?: 'N/A'}">Document ID</td>
            <td>
                <a th:if="${subContractor.subContractorDocument != null}"
                   th:href="@{/admin/bids/{bidId}/subcontractors/download/{id}(bidId=${bid.id}, id=${subContractor.id})}"
                   class="btn btn-success" target="_blank">View Document</a>
                <span th:if="${subContractor.subContractorDocument == null}">N/A</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a th:href="@{/admin/bids}" class="btn btn-secondary"><< Back to Bids List</a>
<a th:href="@{/admin/bids/edit/{id}(id=${bid.id})}" class="btn btn-warning">Edit Bid</a>

<footer th:insert="~{admin/fragments/footer}"></footer>